.categories{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
    border: 1px solid  rgb(105, 32, 105);
    padding: 10px 0;
    border-radius: 10px;
    /* background-color: ; */
}

.categories form{
    width: 290px;
    margin-bottom: 20px;
}

.categories label{
    display: block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
    color:  rgb(105, 32, 105);
}

.categories input, button{
    height: 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid lightslategray;
}

.categories input{
    width: 210px;
}

.categories button{
    width: 70px;
    background-color: rgb(105, 32, 105);
    color: white;
    font-weight: bolder;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.categories .row{
    min-width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(105, 32, 105);

}

.categories .row p{
    text-transform: uppercase;
    color: darkslateblue;
}