* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainBox{
  width: 100vw;
  padding: 0 20px;
}
.App{
  max-width: 100vw;
  min-height: 100vh;
  max-height: max-content;
  box-shadow: 0 0 35px #eee;
  background-color: white;
  overflow: hidden;
}

a{
  text-decoration: none;
}

ul li{
  list-style: none;
}

button{
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

@import url('./components//headers/header.css');
@import url('./components/mainpages/products/product.css');
@import url('./components/mainpages/detailProduct/detailProduct.css');
@import url('./components/mainpages/auth/Login.css');
@import url('./components/mainpages/cart/Cart.css');
@import url('./components/mainpages/categories/Categories.css');
@import url('./components/mainpages/createproduct/CreateProduct.css');