.carousel .thumb-wrapper {
  text-align: center;
}

.carousel .carousel-slider, .slider-wrapper {
  max-height: 500px;
  object-fit: contain;
}

.slide > div > img{
    min-height: 500px;
    object-fit: contain;
}


