.toastify{
    background: rgb(41, 0, 41);
    color: lightcyan;
    font-size: 20px;
    padding: 15px 10px;
}

.login-page{
    margin: 50px auto;
    max-width: 500px;
    border: 1px solid rgb(41, 0, 41);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    padding: 10px;
}

.login-page form h2{
    text-align:center;
    font-family: 'Aboreto', cursive;
}
.login-page h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color:  rgb(41, 0, 41);
}

.login-page form input{
    border-radius: 12px;
}

.login-page form input, .login-page form button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 5px;
    border: 1px solid  rgb(41, 0, 41);
}

.login-page form button{
    color:  rgb(41, 0, 41);
    border-radius: 10px;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}

.login-page form button:hover{
    background-color:  rgb(41, 0, 41);
    color: white;
}

.login-page form .row{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}