.detail{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 150%;
    border: 1px solid black;
}

.detail img{
    max-width: 400px;
    width: 100%;
    margin: 20px;
    height: 450px;
    object-fit: cover;
    display: block;
    border: 4px dashed black;
}
.reviewsHeader{
    margin: 8px 0px;
    text-align: center;
}
.box-detail{
    max-width: 500px;
    width: 100%;
    margin: 5px;
}

.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-detail h2{
    text-transform: capitalize;
    color: black;
    letter-spacing: 2px;
    font-weight: 2rem;
}

.box-detail p{
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.8;
}

.box-detail .cart{
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 18px;
}

.padd{
    padding-top: 10px;
}