.mainntg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    height: 92vh;
}
.ntgcartcenter{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 20px;
    border-radius: 20px;
}

.ntgcartcenter a{
    padding: 5px 15px;
    margin: 5px 0px;
    background-color: black;
    color: white;
    border-radius: 10px;
}