.mainntgg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color:  rgb(41, 0, 41);;
    height: 92vh;
    transition: all 0.3 ease-in-out;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0%{
    }
    50%{
        background-color:  rgb(41, 0, 41);;
        color: white;
    }
    100%{
        background-color: white;
        color:  rgb(41, 0, 41);;
    }
}
.f404{
    font-size: 200px;
    transition: all 0.5 ease-in-out;
    animation: borderAnimate 5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes borderAnimate {
    50%{
        letter-spacing: 50px;
    }
}
.notfound{
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

